@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Red Hat Display", sans-serif;
    font-size: 16px;
    color: hsl(223, 47%, 23%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:url('images/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    background-size: 100% 50%;
    background-color: hsla(227, 67%, 92%, 0.715);
}

.main {
    width: 450px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 3rem;
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 35px 95px hsla(245, 83%, 68%, 0.402);
    transition: transform 1s ease;
    z-index: 1;
}
.main:hover {
    transform: translate(35px, -35px);
}
.image,
.image img {
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}

.content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 1.5rem;
    padding:0rem 3rem 3rem 3rem ;
}
h1 {
    padding: 0.5rem;
    font-weight: 900;
}
.content p:nth-of-type(1) {
    text-align: center;
    color: hsl(224, 23%, 55%);
    font-weight: 500;
}

.card {
    background-color: hsl(225, 100%, 98%);
    width: 100%;
    padding: 1rem;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card span {
    color: hsl(245, 75%, 52%);
    font-weight: 700;
    transition: color 0.3s ease;
}
.card span:hover {
    cursor: pointer;
    color: hsl(245, 83%, 68%);
}
.left {
    display: flex;
    gap: 1rem;
}
.content .card .left p:first-child {
    font-weight: 700;
    color: hsl(223, 47%, 23%);
}
.content .card .left p:last-child {
    font-weight: 500;
    color: hsl(224, 23%, 55%);
}
.proceed {
    background-color: hsl(245, 75%, 52%);
    color: white;
    width: 100%;
    text-align: center;
    padding: 1rem;
    border-radius: 9px;
    font-weight: 500;
    box-shadow: 0px 9px 15px hsla(245, 83%, 68%, 0.402);
    transition: background-color 1s ease;
    transition: transform 1s ease;
    transition: font-weight 1 ease-in-out;
}
.proceed:hover {
    background-color: hsl(245, 83%, 68%);
    transform: translateY(-5px);
    box-shadow: 0px 9px 35px hsla(245, 83%, 68%, 0.402);
    font-weight: 700;
}
.cancel {
    font-weight: 500;
    color: hsl(224, 23%, 55%);
    transition: color 1s ease-in-out;
}
.cancel:hover {
    color: hsl(223, 47%, 23%);
    font-weight: 700;
    cursor: pointer;
}
